html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
  padding: 0;margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


main {
  min-height: 400px;
}

iframe {
  display: none !important;
}

.slick-prev:before, .slick-next:before {
  color: #000 !important;
}

.langitems {
  cursor: pointer;
  margin: 0 0.5rem;;
}

.slickwrapper {
  padding-left: 25px;
  padding-right: 25px;    
}

.notfound {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  -webkit-moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-transform: uppercase;
}

.head-404 {
  margin-bottom: 3rem;
}
.backlinks a {
  border: 1px solid #000;
  padding: 1rem;
  display: inline-block;
  border-radius: 1rem;
  cursor: pointer;
}  

.backlinks a:hover {
  background-color: #000;
  color: #fff;
}

header {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);

}

.headerwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo {
  width: 200px;
  margin: 0;
}

.headerwrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
}

.headerwrap li {
  margin: 0 1rem;
  transition: all 0.5s;
  cursor: pointer;
  text-transform: uppercase;
}


.headerwrap a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}
.headerwrap a:hover {
	color: rgb(41, 38, 240);
  }
.footer {
  background-color: #000;
  color: #fff;
  padding: 3rem;
  text-align: center;
}
li.logout {
	margin: 0;
}


.postwrap {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.postwraps {
	/* padding: 2% 0; */
}
.postwraps .dataContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.cardwrap {
	height: auto;
	background: #fff;
	border-radius: 1.5rem;
	padding: 1.5rem;
	overflow: hidden;
	position: relative;
	/* max-width: calc(25% - 1rem);
	width: 25%; */
	-webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  }
  
  .card-img-holder {
	width: 100%;
	height: auto;
	position: relative;
	text-align: center;
  }
  
  .card-img-holder img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 1.5rem;
  }
  
  .blog-title {
	color: #22215B;
	font-size: 1.1rem;
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 0.5rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
  }

.blogbanner {
	margin-bottom: 2rem;
}
.bannerdesc {
	margin-bottom: 1rem;
}
.blogbanner img {
	background-size: contain;
}
.font-weight-bold {
	font-weight: bold;
}

.langwrap span {
	text-transform: uppercase;
	padding: 0 0.5rem;
}
.langwrap span:not(:last-child) {
	border-right: 1px solid #000;
	display: inline-block;
	line-height: 14px;
}

.commentwrap {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.commentspost {
    background-color: rgb(241 237 237);
    padding: 1rem;
    margin-bottom: 1rem;
}
.commentspost .name {
    margin-bottom: 0.3rem;
    font-weight: bold;
}
.commentspost .email {
    margin-bottom: 0.3rem;
}
.commentspost .body {
    margin-bottom: 0.3rem;
}
.form-group {
	margin-bottom: 1rem;
}
  .description{
	color: #22215B80;
	font-size: 1rem;
  }
  
  .blog-time{
	font-size: .8rem;
	color: #22215B;
  }
  .blog-title a {
	  color: #000;
	  text-decoration: none;
	  font-size: 1rem;
    display: block;
  }
  .blog-title a:hover {
	  color: blue;
  }
.loadingmsg {
	display: block;
	text-align: center;
}
.headwrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.headwrap span {
	font-size: 1rem;
}
select {
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.choosen {
	margin-left: 1rem;
}
.bannergroup {
	display: block;
  text-align: center;
    overflow: hidden;
}
.slick-slide img {
	width: 100%;
    max-height: 500px;
    object-fit: cover;
}
.sliders {
	padding-left: 25px;
	padding-right: 25px;
}
.sliders .cards {
	margin: 0 0.5rem;
}


  @media (max-width: 992px) {
	.card {
		max-width: calc(33.333% - 1rem);
		width: 33.333%;
	}
  }
  @media (max-width: 768px) {
	.card {
		max-width: calc(50% - 1rem);
		width: 50%;
	}
  }



  @media (max-width: 420px) {
	.card {
		max-width: calc(100% - 1rem);
		width: 100%;
	}
  }

  .pointer {
    cursor: pointer;
  }



 .contactform {
    background: white;
    border: 1px solid #dedede;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5rem auto;
    max-width: 500px;
    padding: 30px 50px;
    margin-bottom: 2rem;
  }
 
  input, textarea {
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
  }
 
  label {
    color: #3d3d3d;
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }
 
  .error {
    color: red;
    font-family: sans-serif;
    font-size: 12px;
    height: 30px;
  }
 
  .submitButton {
    background-color: #000000;
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    padding: 1rem;
	display: block;
    border: transparent;
	width: 100%;
    border-radius: 5px;
	cursor: pointer;
  }
  .submitButton:hover {
	  background-color: #22215B;
  }
  .form-group {
      margin-bottom: 1rem;
  }
.star {
	color: red;
} 


.pagination-container {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: rgba(216, 73, 73, 0.2); */
	width: 100%;
	font-weight: 500;
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 15px;
  }
  
  .pagination-container a {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	/* padding: 8px 14px; */
	height: 50px;
	border-radius: 50px;
	width: 50px;
	text-decoration: none;
	transition: background-color .2s;
	border: 1px solid #ddd;
	cursor: pointer;
	margin: 0 0.2rem;
	font-size: 14px;
  }
  
  .pagination-container a.active {
	background-color: #007bff;
	color: white;
	border: 1px solid #7cbddb;
  }
  
  .pagination-container a.disabled { 
	opacity: 0.2;
  }
  .pagination-container a:hover:not(.active) {background-color: rgb(238, 238, 238);}
  .main-title {
	  margin-top: 1rem;
  }

.subtitle {
	font-size: 1.5rem;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}
.login-form {
  margin: 3rem auto;
  width: 95%;
  max-width: 25rem;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  text-align: center;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.input-container {
  margin-bottom: 1rem;
  text-align: left;
}
.input-container label {
  display: block;
  margin-bottom: 0.5rem;
}
input[type="text"],
input[type="password"] {
  width: 100%;

height: 40px;
border: 1px solid rgba(0, 0, 0, 0.2);
}

input[type="submit"] {
margin-top: 10px;
cursor: pointer;
font-size: 15px;
background: #000;
border: 1px solid #000;
color: #fff;
padding: 10px 20px;
}

input[type="submit"]:hover {
  background: rgb(110, 107, 107);
}


.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.headwrap {
	margin-top: 1rem;
	display: flex;
	align-items: center;
}

.headwrap .form-select {
	width: auto;
	margin-left: auto;
}


@media all and (min-width: 767px) {
	.cardwrap {
		max-width: calc(25% - 1rem);
		width: 25%;
	  }

}

@media all and (max-width: 991px) {
	.cardwrap {
		max-width: calc(33.333% - 1rem);
		width: 33.333%;
	  }

}
@media all and (max-width: 767px) {
	.cardwrap {
		max-width: calc(50% - 1rem);
		width: 50%;
	  }

}